@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-highlight-color: rgb(0, 224, 255);
}

body {
    font-family: "Cabin", sans-serif;
    overflow-x: hidden;
    line-height: 1.2;
    color: #fff;
    background: linear-gradient(to right, #822471, #783675);

    position: relative;
    /* z-index: 10; */
}

body.overflow-y {
    overflow-y: hidden;
}

/* body::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
} */

h2 {
    font-size: 2rem;
    text-decoration: underline;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.active-color {
    color: rgb(0, 224, 255);
}

.active {
    background-color: rgba(0, 0, 0, 0.3);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.alert {
    background: rgb(253, 24, 139);
    /* font-size: 1.3rem; */
    text-align: center;
    padding: 0.7rem 1.5rem;
    margin: 20px auto;
    width: 50%;
    border-radius: 10px;
}

/* Navbar */
.nav {
    /* margin-bottom: 5rem; */

    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    box-shadow: 2px 5px 5px -5px rgb(155, 24, 129);
    z-index: 5;
    .logo {
        font-size: 2.3rem;
    }

    .logo:hover {
        color: var(--primary-highlight-color);
    }

    .menu {
        .menu-list {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.2rem;
            font-size: 1.3rem;

            li {
                border-radius: 25px;
                padding: 1rem;
            }

            li:hover {
                background-color: rgba(0, 0, 0, 0.3);

                a {
                    color: var(--primary-highlight-color);
                }
            }
        }
    }

    .mobile-menu {
        display: none;

        .mobile-menu-icon {
            font-size: 1.5rem;
            transition: scale 0.2s ease-in-out;
        }

        .mobile-menu-icon:hover {
            scale: 1.25;
            cursor: pointer;
            color: var(--primary-highlight-color);
        }

        .mobile-menu-items {
            position: absolute;
            top: 108.16px;
            left: 0;
            width: 100%;
            height: calc(100vh- 108.16);
            background: linear-gradient(to right, #822471, #783675);
            text-align: center;
            padding: 1rem;
            transform: translateY(-150%);
            transition: transform 0.3s ease-in-out;
            z-index: 2;

            .mobile-menu-list {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                gap: 1.2rem;
                font-size: 1.3rem;

                li {
                    padding: 1rem;
                    border-bottom: 1px dashed var(--primary-highlight-color);
                }

                li:hover {
                    a {
                        color: var(--primary-highlight-color);
                    }
                }
            }
        }
        .mobile-menu-items.active {
            transform: translateY(1%);
        }
    }
}

/* MY RECommendations */
.my-recommendations {
    margin-bottom: 2rem;

    h2 {
        margin: 1rem auto;
        padding: 1rem;
        text-align: center;
        font-size: 40px;
    }
}

.anime-recommendations {
    padding-bottom: 10rem;
}
.manga-recommendations {
    padding-bottom: 1rem;
}

.results-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    /* padding-bottom: 10rem; */

    .card {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        position: relative;
        border-radius: 20px;
        transition: all 0.5s;
        background: rgba(0, 0, 0, 0.2);
        border: 1px solid transparent;

        .title {
            /* height: 100%; */
            color: #fff;
            padding: 10px;
            font-size: 1.2rem;
            font-weight: 500;
        }

        h4 {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 1.3rem;
            text-align: center;
            padding: 10px;
            backdrop-filter: blur(15px);
            border-radius: 20px;

            /* color: rgb(255, 0, 85); */

            i {
                color: rgb(240, 134, 12);
            }
        }

        .headshot-img {
            width: 100%;
            height: 350px;
            border-radius: 20px 20px 0px 0px;
        }
    }

    .card:hover {
        cursor: pointer;
        scale: 1.05;
        border: 1px solid white;
        filter: brightness(60%);
    }
}

/* Anime Details */
.details {
    display: flex;
    flex-direction: column;
    height: 100%;

    .details-top {
        display: flex;
        padding: 1rem;
        margin-bottom: 2rem;

        .details-left {
            padding: 1.5rem;

            .left-image {
                /* width: 340px;
                height: 90%; */
                border-radius: 15px;
                box-shadow: 1px 1px 10px white;
            }

            .btn-container {
                margin-top: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;

                .image-btn {
                    padding: 0.4rem;
                    height: 80px;
                    border-radius: 50%;
                    transition: all 0.3s;
                }

                .image-btn:hover {
                    scale: 1.1;
                }
            }
        }

        .details-right {
            padding: 1.5rem;
            text-align: center;
            margin-left: 4rem;

            .details-title {
                font-size: 2.2rem;
                margin-bottom: 1.5rem;
            }

            .details-second-title {
                font-size: 1.7rem;
                margin-bottom: 1rem;
            }

            .details-description {
                font-size: 1.25rem;
            }

            .details-genres-title {
                font-size: 1.5rem;
                margin-bottom: 0.5rem;
                text-decoration: underline;
            }
            .details-genres-list {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                margin-bottom: 1.3rem;

                li {
                    font-size: 1.3rem;
                }
            }
        }
    }

    .details-middle {
        margin-bottom: 4rem;

        h2 {
            text-align: center;
            text-decoration: underline;
            margin-bottom: 2rem;
        }

        h3 {
            font-size: 1.3rem;
        }

        .details-genres {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .details-middle-more {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 1rem;
            border-bottom: #fff 1px dotted;

            padding: 1rem;
        }
    }

    .details-bottom {
        margin-bottom: 1rem;

        .similar {
            margin-left: 3rem;
            margin-bottom: 1rem;
            text-decoration: none;
        }
    }
}

/* hero */

.blur-active {
    filter: blur(5px);
}

.hero-loading {
    height: 100vh;
}

.hero-loading.hidden {
    display: none;
}

.hero {
    display: none;
}

.hero.visible {
    display: block;
}

/* swiper */
.swiper {
    width: 90%;
    height: 50%;
    display: grid;
    margin-bottom: 4rem;
}

.swiper-header {
    font-size: 2rem;
    margin: 1rem 4rem;
    padding: 1rem;
    text-decoration: underline;
}

.swiper-slide {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    transition: filter 0.3s;
}

.swiper-slide:hover {
    filter: brightness(50%);
}

.swiper-slide img {
    /* display: block; */
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.swiper-title {
    padding: 10px;
    height: 15%;
}

/* Search  */

.search-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 2rem;
    padding: 0 20px;

    .search-form {
        width: 100%;
        max-width: 600px;
        padding: 1rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .search-bar {
            width: 100%;
            padding: 1rem;
            display: flex;
            gap: 1rem;

            input {
                flex: 5;
                width: 100%;
                padding: 1rem;
                border-radius: 25px;
                border: none;
                font-size: 1.05rem;
            }

            input:focus {
                outline: none;
            }

            .search-btn {
                flex: 1;
                width: 10%;
                padding: 10px;
                border: none;
                cursor: pointer;
                border-radius: 50px;
                background-color: #fff;
                transition: all 0.2s ease-in-out;
                font-size: 1rem;
            }

            .search-btn:hover {
                background-color: var(--primary-highlight-color);
                font-size: 1.2rem;
            }

            .search-btn-sm {
                display: none;
                h4 {
                    font-weight: 500;
                }
            }
        }

        .search-radio {
            padding: 0.2rem 1.5rem;
            align-self: start;
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;

            label {
                margin-right: 1rem;
            }
        }
    }
}

#search-fake-body {
    height: 50vh;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .copyright {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.4rem;
        a {
            font-size: 1.3rem;
            text-decoration: underline;
        }

        a:hover {
            color: var(--primary-highlight-color);
            scale: 1.25;
        }
    }

    .social-links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        a {
            font-size: 1.3rem;
            transition: all 0.3s;
        }

        a:hover {
            scale: 1.2;
            color: var(--primary-highlight-color);
        }
    }
}

/* media queeries */
@media (max-width: 1400px) {
    .results-grid {
        padding: 2rem;
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (max-width: 1200px) {
    .results-grid {
        padding: 2rem;
        grid-template-columns: repeat(4, 1fr);
    }

    .details {
        .details-top {
            margin-bottom: 1.3rem;

            .details-right {
                margin-left: 2rem;
            }
        }
    }
}
@media (max-width: 1024px) {
    .nav {
        .menu {
            display: none;
        }

        .mobile-menu {
            display: block;
        }
    }

    .results-grid {
        padding: 2rem;
        grid-template-columns: repeat(3, 1fr);
    }

    .details {
        .details-top {
            flex-direction: column-reverse;

            .details-right {
                margin-left: 0rem;
            }

            .details-left {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .btn-container {
                    margin: 2rem auto 0;
                }

                .left-image {
                    height: 450px;
                }
            }
        }

        .details-bottom {
            margin-bottom: 1rem;

            .similar {
                margin-left: 0;
                text-align: center;
            }
        }
    }
}
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        gap: 1rem;
        padding-bottom: 1rem;
        text-align: center;
    }

    .my-recommendations {
        h2 {
            max-width: 100%;
            font-size: 1.8rem;
        }
    }

    .results-grid {
        padding: 1rem;
        grid-template-columns: repeat(2, 1fr);

        .card {
            max-width: 280px;

            .title {
                display: none;
            }

            .headshot-img {
                border-radius: 20px;
            }
        }
    }
    .details {
        .details-top {
            flex-direction: column-reverse;

            .details-right {
                .details-title {
                    font-size: 2rem;
                }

                .details-second-title {
                    font-size: 1.5rem;
                }

                .details-description {
                    font-size: 1.15rem;
                }

                .details-genres-title {
                    font-size: 1.4rem;
                }
                .details-genres-list {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 1rem;

                    li {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
    .swiper-header {
        margin: 1rem auto;
        text-align: center;
    }
}
@media (max-width: 500px) {
    .results-grid {
        padding: 1rem;
        grid-template-columns: repeat(1, 1fr);

        .card {
            max-width: 300px;

            /* .title {
                text-align: center;
            } */
        }
    }
}

@media (max-width: 350px) {
    .nav {
        .logo {
            display: none;
        }
    }

    .search-container {
        .search-form {
            .search-bar {
                flex-direction: column;

                input {
                    flex: 1;
                }

                .search-btn {
                    margin: 0 auto;
                    width: 100%;
                    padding: 1rem;
                }

                .search-btn-font {
                    display: none;
                }

                .search-btn-sm {
                    display: block;
                }

                .search-radio {
                    align-self: center;
                }
            }
        }
    }
}
